<footer class="footer">

	<div class="footer__inner">

		<div class="footer__box-logo">
			<div class="footer__wrap-logo">
				<div class="footer__inner-logo">
				   <img src="../assets/images/logo.png" alt="Логотип">
				</div>
		   </div>
			<p class="footer__text">Duis aute irure dolor in reprehenderit in<br> voluptate velit esse cillum dolore eu fugiat <br> nulla pariatur. </p>
		</div>

		<div class="footer__block list ">
            <div class="list__wrap">
					<a href="#" class="footer__link">Про нас </a>
					<a href="#" class="footer__link">Портфоліо</a>
					<a href="#" class="footer__link">Етапи роботи</a>
				</div>
		</div>

		<div class="footer__block">
			<div class="footer__location">УКРАЇНА, М.ЛЬВІВ,<br> ВУЛ. Зелена 230</div>
			<div class="footer__phone">(097)857-70-47</div>
		</div>
		
		<div class="footer__block footer__networks">
			<a href="" class="footer__link-networks"><img class="footer__img-networks" src="../assets/images/instagram-1.svg" alt="instagram" ></a>
			<a href="" class="footer__link-networks"><img class="footer__img-networks" src="../assets/images/facebook-2.svg" alt="facebook" ></a>
			<a href="" class="footer__link-networks"><img class="footer__img-networks" src="../assets/images/linkedin-3.svg" alt="linkedin" ></a>
		</div>

	</div>	
	
	<div class="footer__power">
		2020 © Come Back Agency. All Rights Reserved.
	</div>

</footer>

