
$fontFamily-1: "Gilroy" sans-serif;
$fontFamily-2: "Gilroy" sans-serif;
$fontFamily-3: "PlayfairDisplay-Regular" sans-serif;
$colorText-1:#FFFFFF;
$colorText-2:#FF9900;
$colorText-3:#000000;



/* Buttons */	
$colorBtn-1:#FF9900;
$colorBtn-2:#FFFFFF;
$colorBtn-3:#FFB800;
$backgroundBtn-1:#FF9900; 
$backgroundBtn-2:#FFFFFF; 
$backgroundBtn-3:#FFB800; 

// $Background:
$background-1:#FFFFFF; 
$background-2:#FF9900; 
$background-3: #FFB800;


/* Breakpoints */
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;	